@import url('https://fonts.googleapis.com/css2?family=Poppins:,wght@1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e14141;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
}

form {
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 30px 20px;
    max-width: 450px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 20px;
    text-align: left;
}

.form-control label {
    display: block;
    margin-bottom: 6px;
    padding: 5px;
}

.form-control input,
.form-control select {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 100%;
}

.form-control input[type="radio"] {
    display: inline-block;
    width: auto;
}

.btn {
    background: red;
    color: white;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}